@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto+Mono:wght@200;400&display=swap');

/* ----- Colors -----  */
body {
    background-color: rgba(0, 102, 111, 0.99);
    min-height: 100%vh;
    height: 100vh;
}

a {
    color: white;
}

#intro-text {
    color: white;
}

form label {
    color: white;
    margin-bottom: 1px;
    margin-top: 10px;
}

form p {
    color: white;
    margin-bottom: 0%;
    margin-top: 10px;
}

/* ------------ Header -------------- */
.logo {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    color: #B4ABA8;
    padding-left: 20px;
}

nav {
    width: 100%;
    margin: 0%;
    padding: 0%;
}

/* 
------------- Images ------------------ */
/* #hero{
    background-color: rgba(218, 198, 213, 0.9);
    width: 100%;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 100%;
    margin-left: -200%;
}

#hero-outer{
    position: absolute;
    width: 100%;
    text-align: center;
    overflow: hidden;
} */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos img {
    width: 100%;
}
@media screen and (max-width: 943px) {
    #photos {
    column-count: 2;
    }
}
.rsvp-photos {
    height: 300px;
    width: auto;
    align-items: center;
    padding: 10px;
}

footer {
    text-align: center;
    margin-top: auto;
}

/* ----- Plan for the day -----  */
.renewal-date{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    margin-top: 20px;
}
.plan-heading {
    color: white;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 10px;
}

.plan-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: white;
    border-left: 1px solid;
}

.plan-item p {
    padding: 0;
    margin: 0;
}

.plan-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo" sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.plan-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background-color: #fafafa;
}

.plan-items {
    margin-bottom: 50px;
}

/* ----- Positioning -----  */
#wedding-video{
    text-align: center;
    display: block;
    margin: 50px auto;

}
.navbar-toggler-icon{
    z-index: 110;
}